name: Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Setup NOX
        uses: wntrblm/nox@2025.11.12
        with:
          python-versions: "3.10, 3.11, 3.12, 3.13, 3.14"
      - name: Test with NOX
        run: |
          nox --session tests
